.list-repeat-full-height {
    min-height: 300px;
}

.ms-repeated-row {
  height: 48px;

}

.ms-listening-playing {
	min-width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-right: 3px;
}

#ms-header-listening-list {
    padding-left: 16px;
    padding-right: 32px;
}

.ms-header-time{
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px; 
}

.ms-list-menu{
    width: 20px;
}

.ms-album-art-list {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.ms-content-row {
    padding-right: 1px;
}

#ms-header-left-empty{
  width: 44px;
}

#ms-header-right-empty{
  width: 124px;
}