<md-card>
	<md-card-title class="ms-table-header">
   <md-card-title-text>
      <span  class="md-title">Listening Tracks</span>
   </md-card-title-text>
 </md-card-title>
  <div hide-xs id="ms-header-listening-list" layout="row" layout-align="start center" flex>
      <span flex="none" id="ms-header-left-empty"></span>
      <span flex="35">
        Title
      </span>
      <span flex="35">
        Album
      </span>
      <span flex="20">
        Artist
      </span>
      <span flex="10" layout="row" layout-align="center">
        <md-icon class="ms-header-time" md-svg-icon="time"></md-icon>
      </span>
      <span flex="none" id="ms-header-right-empty"></span>
   </div>
  <md-list ng-class="{'md-dense' : $ctrl.$mdMedia('xs')}" flex >
    <md-virtual-repeat-container md-top-index="$ctrl.indexCurrentTrack" 
                                 class="list-repeat-full-height">
        <div md-virtual-repeat="song in $ctrl.tracks" class="ms-repeated-row" layout="column" md-on-demand flex>
          <md-divider></md-divider>
          <md-list-item id="ms-table-row" layout="row" ng-class="{'md-3-line' : $ctrl.$mdMedia('xs')}" ng-click="$ctrl.playSong(song.id)" flex>
            <img flex="none" class="ms-listening-playing"  ng-show="song.id == $ctrl.currentTrack.id" src="assets/images/playing.gif">
            <img flex="none" class="ms-album-art-list" ng-src="{{ song.imageUrlSmall }}"
                 ng-hide="song.id == $ctrl.currentTrack.id"></img>
            <span hide-xs class="md-truncate ms-content-row" flex="35">
              {{song.title}}
            </span>
            <span hide-xs class="md-truncate ms-content-row" flex="35">
              {{song.album}}
            </span>
            <span hide-xs class="md-truncate ms-content-row" flex="20">
              {{song.artist}}
            </span>
            <span hide-xs flex="10" layout="row" layout-align="center">
              {{song.duration }}
            </span>
            <div class="md-list-item-text" hide-gt-xs flex-xs="100" layout="column">
              <h3 class="md-truncate ms-xs-listening-title">{{song.title}}</h3>
              <h4 class="md-truncate ms-xs-listening-subtitle">{{song.album}}</h4>
              <p class="md-truncate">{{song.duration }} • {{song.artist}}</p>
              
            </div>
            <ms-rating-button id="listening-rating" rating-type="like" flex="none" song="song"></ms-rating-button>
            <ms-rating-button id="listening-rating" rating-type="dislike" flex="none" song="song"></ms-rating-button>
            <md-menu flex="none" class="ms-list-menu">
              <md-button ng-click="$mdMenu.open($event)" 
                         class="md-secundary" 
                         style="margin: 0px;padding: 0px;" 
                         aria-label="Open song menu">
                <md-icon md-svg-icon="more"></md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item><md-button ng-click="$ctrl.doSomething()">Song Info</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.doSomething()">Delete from List</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.doSomething()">Go to Album</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.doSomething()">Go to Artist</md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-list-item>
        </div>
    </md-virtual-repeat-container>
	</md-list>
</md-card>
