@import "~common/variables"; 

.list-repeat-full-height {
    min-height: 300px;
    @media screen and (min-width: 0) and (max-width: $break-small - 1px){
      height: calc(100vh - #{$header-sm-height} - #{$player-height} - #{$table-header-height} - #{$table-header-padding-top} - #{$table-header-padding-bottom} - 16px - 16px - 2px);
    }
    @media screen and (min-width: $break-small) and (max-width: $break-medium - 1px){
      height: calc(100vh - #{$header-sm-height} - #{$player-height} - #{$table-header-height} - #{$table-header-padding-top} - #{$table-header-padding-bottom} - 18px - 16px - 16px - 2px);  
    }
    @media screen and (min-width: $break-medium){
      height: calc(100vh - #{$header-gt-sm-height} - #{$player-height} - #{$table-header-height} - #{$table-header-padding-top} - #{$table-header-padding-bottom} - 18px - 16px - 16px - 2px);  
    }    
    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 0) and (max-width: $break-small - 1px){
       height: calc(100vh - #{$header-sm-height} - #{$player-height} - #{$table-header-height} - #{$table-header-padding-top} - #{$table-header-padding-bottom} - 16px - 16px - 2px - 56px);
    }
}

.ms-repeated-row {
  @media screen and (min-width: 0) and (max-width: $break-small - 1px){
    height: 76px;  
  }
  @media screen and (min-width: $break-small){
    height: 48px;
  }

}

.ms-listening-playing {
	min-width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-right: 3px;
}

#ms-header-listening-list {
    padding-left: 16px;
    padding-right: 32px;
}

.ms-header-time{
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px; 
}

.ms-list-menu{
    width: 20px;
}

.ms-album-art-list {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.ms-content-row {
    padding-right: 1px;
}

#ms-header-left-empty{
  width: 44px;
}

#ms-header-right-empty{
  width: 124px;
}

#listening-rating {
  button {
     @media screen and (min-width: 0) and (max-width: $break-medsmall - 1px) {
        margin-left: 0px;
        margin-right: 0px;
    }

    md-icon {
      @media screen and (min-width: 0) and (max-width: $break-medsmall - 1px) {
        min-width: 20px;
        min-height: 20px;
      }
    }
  }
}

.ms-xs-listening-title{
  padding-bottom: 1px;
}

.ms-xs-listening-subtitle{
  padding-bottom: 5px;
  font-style: oblique;
}