
    <md-card>
    	<md-card-title>
       <md-card-title-text>
            <span class="md-title">Music Library</span>
       </md-card-title>
     </md-card-title>
    	<md-list ng-class="$ctrl.density" flex>
    					<md-divider></md-divider>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3>Music Directory</h3>
            <p>{{$ctrl.library.base_dir}}</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="Edit library directory" ng-click="$ctrl.editMusicdir($event, $ctrl.library.base_dir)">
        				<md-icon md-svg-icon="edit"></md-icon>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3>Songs</h3>
            <p>{{$ctrl.library.num_elements}}</p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3>State</h3>
            <p>{{$ctrl.library.state}}</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="Refresh library" ng-click="$ctrl.refresh()">
        				<md-icon md-svg-icon="refresh"></md-icon>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text">
            <h3>Last Refresh</h3>
            <p>{{$ctrl.library.last_refresh | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          </div>
        </md-list-item>
    	</md-list>
    </md-card>