node_modules/*
bower_components/*
server/public/assets/thumbnails/albums/*.png
server/public/assets/thumbnails/artists/*.png
server/public/assets/thumbnails/albums/*.jpg
server/public/assets/thumbnails/artists/*.jpg
log.txt
.vscode/*

*.log
*.mp3
*.sqlite
*.err
*.out