<md-content flex="auto" layout="row">
    <md-content flex layout="column">
        <ms-header ng-show="$ctrl.userAuthenticated()" title="$ctrl.headerTitle"></ms-header>
        <md-content id="main-content">
            <div flex ui-view id="main-view" on-secure-loaded="$ctrl.handleUserLoaded( $event )" layout="column"></div>
        </md-content>
    </md-content>
</md-content>
<ms-menu user-info="$ctrl.userInfo"></ms-menu>
<ms-player ng-show="$ctrl.userAuthenticated()" md-whiteframe="2" flex="none" layout="column"></ms-player>