<md-content flex="auto" layout="row">
    <md-content flex layout="column">
        <ms-header ng-show="$ctrl.userAuthenticated()" header-info="$ctrl.headerInfo"></ms-header>
        <md-content id="main-content">
            <div flex ui-view autoscroll="true" id="main-view" 
            	on-secure-loaded="$ctrl.handleUserLoaded( $event )" 
            	cancel-selected="$ctrl.cancelSelected"
            	current-track="$ctrl.currentTrack" 
            	layout="column"></div>
        </md-content>
    </md-content>
</md-content>
<ms-menu user-info="$ctrl.userInfo"></ms-menu>
<ms-player ng-show="$ctrl.userAuthenticated()" flex="none" layout="column"></ms-player>