<md-card class="ms-card-album">
  <img ng-src="{{ $ctrl.album.imageUrlLarge }}" ng-click="$ctrl.goAlbum()" class="md-card-image ms-album-img" alt="{{ $ctrl.album.albumName }}">
  <md-card-content layout="row">
    <div flex="85" layout="column">
      <span class="md-truncate md-body-2">{{ $ctrl.album.albumName }}</span>
      <span class="md-truncate md-caption">{{ $ctrl.album.Artist.artistName }}</span>
    </div>
    <md-menu>
      <md-button ng-click="$mdMenu.open($event)" 
                 class="md-icon-button" 
                 style="margin: 0px;padding: 0px;" 
                 aria-label="Open sample menu">
        <md-icon md-svg-icon="more"></md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item><md-button ng-click="$ctrl.playAlbum()"><md-icon md-svg-icon="play"></md-icon>Play Album</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.addAlbumToPlaylist()"><md-icon md-svg-icon="playlistAddB"></md-icon>Add Album</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.playAlbum({order: 'random'})"><md-icon md-svg-icon="shuffle"></md-icon>Play Random</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.goAlbum()"><md-icon md-svg-icon="album"></md-icon>Go to Album</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.doSomething()"><md-icon md-svg-icon="artist"></md-icon>Go to Artist</md-button></md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-card-content> 
</md-card>