<!--div layout="row" layout-wrap>
    <div flex-xs="50" flex-sm="33" flex-md="20" flex-gt-md="15" ng-repeat="artistItem in $ctrl.artists">
        <ms-artist-list-item layout="column" artist="artistItem"></ms-artist-list-item>
    </div>
</div-->
<md-virtual-repeat-container class="virtual-repeat-full-height" ng-style="$ctrl.getListHeight()">
    <div md-virtual-repeat="row in $ctrl.artists" style="height: 180px;" layout="row" layout-align="center" md-on-demand flex>
        <div ng-repeat="artistItem in row" flex-xs="50" flex-sm="33" flex-md="20" flex-gt-md="15">
            <ms-artist-list-item layout="column" layout-align="start center" artist="artistItem"></ms-artist-list-item>
        </div>
    </div>
</md-virtual-repeat-container>