
<md-virtual-repeat-container class="artist-repeat-full-height" md-auto-shrink ng-style="$ctrl.getListHeight()">
    <div md-virtual-repeat="row in $ctrl.artists" class="ms-artist-row" layout="row" layout-align="center" md-on-demand flex>
        <div ng-repeat="artistItem in row" flex-xs="50" flex-sm="33" flex-md="20" flex-gt-md="15">
            <ms-artist-list-item layout="column" layout-align="start center" artist="artistItem"></ms-artist-list-item>
        </div>
    </div>
</md-virtual-repeat-container>