ms-artist-list-item {
  margin: 8px;
  span {
    text-align: center;
    margin-top: 3px;
  }
}

.ms-artist-avatar{
  border-radius: 50%;
  box-shadow: 3px 2px 5px #aaaaaa;
  border: 1px solid #aaaaaa;
  padding: 3px;
}