ms-artist-list-item {
  margin: 10px;
  span {
    text-align: center;
    margin-top: 3px;
    font-weight: bolder;
  }
}

.ms-artist-avatar{
  border-radius: 50%;
  box-shadow: 3px 2px 5px #aaaaaa;
  border: 1px solid #aaaaaa;
  padding: 3px;
  width: 125px;
  height: 125px;
}
