
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="menu">
<md-content>
  <md-toolbar class="md-hue-2 md-tall" flex="auto" layout="row" >
    <md-button class="md-fab md-mini md-accent " ng-click="$ctrl.toggleMenu()" aria-label="Show Menu" flex="13">
        <md-icon md-svg-icon="back"></md-icon>
    </md-button>
    <div layout="column" layout-align="start center" flex="60">
      <md-icon flex="noshrink" class="app-logo" md-svg-icon="appLogo"></md-icon>
      <span flex="noshrink" class="md-headline">Music Server</span>
    </div>
  </md-toolbar>
  	<md-list>
  			<div ng-repeat="option in $ctrl.options">
  				<md-divider ng-if="option.divider"></md-divider>
    			<md-subheader ng-if="option.divider"  class="md-no-sticky">{{option.dividerLabel}}</md-subheader>	
    			<md-list-item class="md-2-line" role="link" ng-click="$ctrl.selectOption( option.name )">
      			<md-icon md-svg-icon="{{option.icon}}" aria-label="{{option.ariaLabel}}"></md-icon>
    			  <div class="md-list-item-text">
        			<span class="md-body-2">{{option.label}}</span>
      			</div>
    			</md-list-item>
    </div>
  </md-list>
  </md-content>
</md-sidenav>