$break-xsmall: 320px;
$break-medsmall: 480px;
$break-small: 600px;
$break-medium: 960px;
$break-large: 1280px;
$break-medlarge: 1520px;
$break-superlarge: 1680px;
$break-xlarge: 1920px;
$break-4kxlarge: 2560px;

$player-info-max-width: 235px;
$player-height: 90px;

$header-sm-height: 56px;
$header-gt-sm-height: 64px;

$table-header-height: 25px;
$table-header-padding-top: 14px;
$table-header-padding-bottom: 14px;