$player-info-max-width: 240px;

ms-player {
    height: 90px;
    margin-top: 1px;
}

.ms-player-img {
    width: 90px;
    height: 90px;
}

.ms-progress {
    cursor: pointer;
    height: 15px;
}

.ms-player-position {
    text-align: end;
    padding-right: 6px;
}

.ms-player-info-title {
    max-width: $player-info-max-width;
}

.ms-player-info-artist {
    max-width: $player-info-max-width;
}

.ms-player-info {
    padding-left: 6px;
}

.ms-player-info-album {
    margin-bottom: 5px;
    max-width: $player-info-max-width;
}

.md-icon-button#ms-player-button-med {
    width: 50px;
    height: 50px;
}

.ms-player-icon-button {
    width: 36px;
    height: 36px;
}

.ms-player-mini-icon-button {
    width: 32px;
    height: 32px;
}

.ms-player-more-controls{
    margin-left: 0px;
    margin-rigth: 0px;
}
.md-icon-button#ms-player-button-big {
    width: 78px;
    height: 78px
}

md-icon#ms-player-icon-big {
    width: 64px;
    height: 64px;
}

.ms-player-mini-controls{
    width: 100px;
}