<div class="ms-player-container" layout="row">
    <img class="ms-player-img" hide-xs ng-show="$ctrl.isActive" flex="none" ng-src="{{ $ctrl.currentPlaying.imageUrlLarge }}">
    <div layout="column" flex="auto">
        <div ng-show="$ctrl.isActive" 
             id="progress" 
             class="ms-progress" 
             ng-click="$ctrl.setCurrentTime($event)" 
             layout="column">
            <md-progress-linear md-mode="buffer" 
                                class="md-accent" 
                                flex 
                                value="{{$ctrl.progress}}" 
                                ng-show="$ctrl.isActive" 
                                md-buffer-value="{{$ctrl.loaded}}"></md-progress-linear>
        </div>
        <div layout="row" 
             flex="auto">
            <div flex-xs="100" 
                 flex-sm="25" 
                 flex-md="30" 
                 flex-lg="35" 
                 flex-xl="40" 
                 layout="column" 
                 class="ms-player-info"
                 md-swipe-left="$ctrl.prevTrack()"
            md-swipe-right="$ctrl.nextTrack()"
            md-swipe-up="$ctrl.showPlayerCtrls()">
                <div md-truncate class="md-body-2 ms-player-info-title">{{ $ctrl.currentPlaying.title}}</div>
                <span md-truncate class="md-caption ms-player-info-album">{{ $ctrl.currentPlaying.album}}</span>
                <span md-truncate class="md-caption ms-player-info-artist ms-artist-text">{{ $ctrl.currentPlaying.artist}}</span>
            </div>
            <div layout="row" flex="none" class="ms-player-mini-controls" hide-gt-xs>
              <div ng-show="$ctrl.isActive" layout="column">
                <div class="md-caption ms-player-position">{{$ctrl.currentPosition}} / {{$ctrl.currentDuration}}</div>
                <div layout="row">
                    <md-button ng-click="$ctrl.play()" class="md-icon-button" ng-hide="$ctrl.isPlaying" aria-label="Play music">
                      <md-icon md-svg-icon="play" class="md-primary ms-player-mini-icon-button"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" 
                               ng-show="$ctrl.isPlaying" aria-label="Pause music" ng-click="$ctrl.pause()">
                      <md-icon  md-svg-icon="pause" class="md-primary ms-player-mini-icon-button"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button ms-player-more-controls"  
                               aria-label="Show more controls"
                               ng-click="$ctrl.showPlayerCtrls()">
                      <md-icon  md-svg-icon="keyboardArrowUp" class="md-primary"></md-icon>
                    </md-button>
                </div>
              </div>
            </div>
            <div hide-xs flex-sm="75" flex-md="70" flex-lg="65" flex-xl="60" layout="row" layout-align="space-between">
                <div layout="row" id="controls" flex="none" layout-align="start center">
                    <md-button class="md-icon-button ms-player-button" aria-label="Previous track" ng-click="$ctrl.prevTrack()">
                        <md-icon md-svg-icon="previous" class="ms-player-icon-button"></md-icon>
                    </md-button>
                    <md-button id="ms-player-button-big" ng-click="$ctrl.play()" class="md-icon-button" ng-hide="$ctrl.isPlaying" aria-label="Play music">
                        <md-icon md-svg-icon="playFilled" id="ms-player-icon-big" class="md-primary"></md-icon>
                    </md-button>
                    <md-button id="ms-player-button-big" class="md-icon-button" ng-show="$ctrl.isPlaying" aria-label="Pause music" ng-click="$ctrl.pause()">
                        <md-icon id="ms-player-icon-big" md-svg-icon="pauseFilled" class="md-primary"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button ms-player-button" aria-label="Next track" ng-click="$ctrl.nextTrack()">
                        <md-icon md-svg-icon="next" class="ms-player-icon-button"></md-icon>
                    </md-button>
                </div>
                <div layout="row" flex="none" id="rating" ng-show="$ctrl.isActive" layout-align="start center">
                    <ms-rating-button rating-type="like" song="$ctrl.currentPlaying"></ms-rating-button>
                    <ms-rating-button rating-type="dislike" song="$ctrl.currentPlaying"></ms-rating-button>
                </div>
                <div ng-show="$ctrl.isActive" layout="column" flex="30">
                    <div class="md-caption ms-player-position">{{$ctrl.currentPosition}} / {{$ctrl.currentDuration}}</div>
                    <div id="volume" hide-xs layout="row" layout-align="start center">
                        <md-button md-no-ink class="md-icon-button" aria-label="Volume Down">
                            <md-icon md-svg-icon="volumeDown"></md-icon>
                        </md-button>
                        <md-slider flex class="md-primary" ng-model="$ctrl.volume" ng-change="$ctrl.changeVolume()" step="1" min="0" max="100">
                        </md-slider>
                        <md-button md-no-ink class="md-icon-button" aria-label="Volume Up">
                            <md-icon md-svg-icon="volumeUp"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>