ms-player {
    height:115px;
    margin-top:1px;
}

.ms-player-img {
    width:110px; 
    height:110px;
}

.ms-progress {
      cursor: pointer;
       height:15px;
}

.ms-player-position{
    padding:3px;
}

.ms-player-info-title{
    margin-left:3px;
}

.ms-player-info{
    margin-left:3px;
}

.ms-player-info-album{
    margin-bottom:5px;
}

.ms-player-button{
    width:46px; height:46px;
}

.ms-player-icon-button{
    width:36px; height:36px;
}

.md-icon-button#ms-player-button-big{
    width: 74px; height: 74px
}

md-icon#ms-player-icon-big{
    width: 64px; height: 64px;
}