md-checkbox#ms-header-checkbox {
    width: 24px;
    margin-left: 3px;
    margin-right: 29px;
    margin-top: 16px;
}

#ms-header-list {
	padding-left: 16px;
	padding-right: 16px;
	span {
		font-size: 12px;
		font-weight: 400;
		color: rgba(0,0,0,0.54);
	}
}

md-list-item#ms-table-row:hover {
	cursor: pointer;
	background-color: #EEEEEE;
	
}

md-list-item#ms-table-row {
	span{
		font-size: 13px;
		font-weight: 500;
	}
}

.ms-selected-text{
	font-size: 16px;
	font-weight: 500;
}

.ms-table-header{
	height: 25px;
	padding-top: 14px;
	padding-bottom: 14px;

}