<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-swipe-left="$ctrl.toggleMenu()" md-component-id="menu" md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar class="md-hue-2" flex layout="column" layout-align="start center">
    <md-icon class="app-logo" md-svg-icon="appLogo"></md-icon>
    <span class="md-headline">Music Server</span>
  </md-toolbar>
  <md-list>
    <md-list-item class="md-2-line" role="link" ng-click="null">
      <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
      <div class="md-list-item-text">
        <span class="md-body-2">Home</span>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" role="link" ng-click="null">
      <md-icon md-svg-icon="listening" aria-label="Listening"></md-icon>
      <div class="md-list-item-text">
        <span class="md-body-2">Listening</span>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" role="link" ng-click="null">
      <md-icon md-svg-icon="musicLib" aria-label="Music Library"></md-icon>
      <div class="md-list-item-text">
        <span class="md-body-2">Music</span>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" role="link" ng-click="null">
      <md-icon md-svg-icon="playlist" aria-label="PlayList"></md-icon>
      <div class="md-list-item-text">
        <span class="md-body-2">PlayList</span>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader  class="md-no-sticky">Management</md-subheader>
    <md-list-item class="md-2-line" role="link" ng-click="null">
      <md-icon md-svg-icon="settings" aria-label="Settings"></md-icon>
      <div class="md-list-item-text">
        <span class="md-body-2">Settings</span>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav>